<div class="breadcumb_area bg-img" style="background-image: url(../assets/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Cambiar Contraseña</h2>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Login Form -->
    <form #formPassword="ngForm" (ngSubmit)="onSubmitPassword()">
      <div class="col-12"><br>
       	<label for="company">Nueva Contraseña</label>
        <input type="password" name="company" class="form-control" #newPassword="ngModel" [(ngModel)]="password" required
        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&¿.,{}\[\]()/\-\+\-_=#:;<>'\\])[A-Za-z\d$@$!%*?&¿.,{}\[\]/\-\+\-_=#:;<>'\\()]{9,}$">
        <span *ngIf="newPassword.touched && !newPassword.valid" style="color: red">
        	La contraseña debe tener min. 9 caracteres, una letra mayúscula, una letra minúscula, un número y un simbolo especial
        </span> 
      </div>
      <div class="col-12">
       	<label for="pasfield">Confirmar Contraseña</label>
        <input type="password" name="pasfield" class="form-control" #cPassword="ngModel" [(ngModel)]="confirmPassword" required>
      </div><br>
      <input type="submit" class="btn essence-btn" [disabled]="!((password === confirmPassword && formPassword.form.valid))" value="Cambiar">
    </form><br>
  </div>
</div>