<div class="breadcumb_area bg-img" style="background-image: url(../assets/img/bg-img/breadcumb.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="page-title text-center">
                        <h2>Editar Imagen</h2>
                    </div>
                </div>
            </div>
        </div>
</div>
<div class="container">
	<div class="row justify-content-md-center">
		<div class="col col-lg-2" style="margin-top: 120px">
			<div class="form-group">
    			<label for="exampleFormControlTextarea1">Subir Imagen</label>
    			<input type="file" name="exampleFormControlTextarea1" (change)="fileEvent($event)">
  			</div>
  			<div class="col col-xs-6 text-right">
                <button type="button" (click)="SaveChanges()" class="btn btn-sm btn-primary btn-create">Guardar Cambios</button>
            </div>
		</div>
	</div>
</div>